@import url('https://fonts.googleapis.com/css?family=Muli');

@font-face {
    font-family: 'the_foreigner';
    src: url('./assets/fonts/the_foreign-webfont.woff2') format('woff2'),
         url('./assets/fonts/the_foreign-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#app {
    padding: 0;
    margin: 0;
}
#header, footer {
    text-align: center;
}

h1 {
    font-size: 120px !important;
    margin-top: 0 !important;
    margin-bottom: 50px !important;
    font-family: 'the_foreigner' !important;
}

h2 {
    font-family: 'the_foreigner' !important;
    font-size: 50px !important;
}

#header > div {
    font-size: 15px;
    font-family: 'Muli';
    color: rgb(226, 226, 226);
}

#header {
    color: white;
    background-color: #0A4A54;
    background-image : url("assets/background.png");
    background-repeat: repeat;
    padding-top: 145px;
    padding-bottom: 145px;
    height: 75vh;
}

#presentation {
    
}

#skills {
    color: white;
    background-color: #708C90;
}

#projects {
    
}

#education {
    color: white;
    background-color: #005361;
}

#skills>h2, #education>h2 {
    text-align: right;
}

.section {
    font-family: 'Muli';
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

#avatar {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 20%;
}

::-webkit-scrollbar { 
    display: none; 
}