@import url('https://fonts.googleapis.com/css?family=Muli');

@font-face {
    font-family: 'the_foreigner';
    src: url('./assets/fonts/the_foreign-webfont.woff2') format('woff2'),
         url('./assets/fonts/the_foreign-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#app {
    padding: 0;
    margin: 0;
}
#header, footer {
    text-align: center;
}

h1 {
    font-size: 120px !important;
    margin-top: 0 !important;
    margin-bottom: 50px !important;
    font-family: 'the_foreigner' !important;
}

#header > span {
    font-size: 15px;
    font-family: 'Muli';
    color: rgb(226, 226, 226);
}

#header {
    color: white;
    background-color: #0A4A54;
    background-image : url("assets/background.png");
    background-repeat: repeat;
    padding-top: 145px;
    padding-bottom: 145px;
}

#presentation {
}

#skills {
    color: white;
    background-color: #708C90;
}

#projects {

}

#education {
    color: white;
    background-color: #005361;
}

.section {
    text-align: justify;
    padding-left: 5% ;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
