@import url('https://fonts.googleapis.com/css?family=Muli');

@font-face {
    font-family: 'the_foreigner';
    src: url('./assets/fonts/the_foreign-webfont.woff2') format('woff2'),
         url('./assets/fonts/the_foreign-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#app {
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
}

a {
    color: #F79A3E !important;
}

h1 {
    font-size: 10vw !important;
    margin-top: 0 !important;
    margin-bottom: 50px !important;
    font-family: 'the_foreigner' !important;
}

h2 {
    font-family: 'the_foreigner' !important;
    font-size: 50px !important;
}

#github {
    width: 50px;
}

#kopi-usage, #talh-illustration {
    margin-bottom: 5vh;
    text-align: center;
    margin-top: 5vh;
}

#kopi-usage > img {
    width: 90%;
}

#talh-illustration > img {
    width: 50%;
}

#header > div {
    font-size: 25px !important;
    font-family: 'Muli';
    color: rgb(226, 226, 226);
}

#header {
    color: white;
    background-color: #0A4A54;
    background : url("assets/header.png") no-repeat center;
    background-size: cover; 
    padding-top: 47vh;
    padding-bottom: 145px;
    padding-left: 10vw;
    height: 100vh;
}

#skills {
    color: white;
    background-color: #708C90;
}


#education {
    color: white;
    background-color: #005361;
}

#education>h2 {
    margin-top: 5vh;
    margin-bottom: 4vh;
}

#contact {
    padding-bottom: 3% !important;
    text-align: center;
}

.white {
    color: white !important;
}

.second-h2 {
    margin-top: 5vh;
    text-align: right;
    margin-bottom: 4vh;
}

.section {
    font-family: 'Muli';
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 25vw;
    padding-right: 25vw;
}

@media (max-width: 640px) {

    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 35px !important;
    }

    #header > div {
        font-size: 15px !important;
    }

    .section {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

.btn {
    margin-top: 3vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #F79A3E !important;
}
.black {
    color: black !important;
}

.btn:hover {
    background-color: #F79A3E;
    color: white !important;
}

::-webkit-scrollbar { 
    display: none; 
}

#vue-dashboard-illustration {
    text-align: center;
    margin-top: 5vh;
    margin-left: 5%;
    margin-bottom: 5vh;
}

.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    position: relative;
    border-radius: 3px 3px 0 0;
    width: 90%;
}
  
.browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup > img {
    width: 100%;
}

.arrow{
    position: absolute;
    top: 90vh;
    left: calc((100vw - 20px) / 2);
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -5px;
    animation: animate 2s 2 ease-in-out;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
